{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "next", "prettier", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "prefer-const": "warn",
    "no-undef": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "index"],
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-unnecessary-type-constraint": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@next/next/no-img-element": "off"
  }
}
