{
  "extends": ["eslint:recommended", "next", "prettier"],
  "rules": {
    "prefer-const": "warn",
    "no-undef": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "index"],
        "newlines-between": "always"
      }
    ]
  }
}
